{% extends 'base.html.twig' %}

{% block body %}

    <div id="navbarMenuHeroB" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item is-active" href="{{ path('cartes_show') }}"> Cartes </a>
            <a class="navbar-item" href="{{ path('editions_show') }}"> Editions </a>
            <a class="navbar-item" href="{{ path('langues_show') }}"> Langues </a>
        </div>
    </div>
    </div>
    </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">

            <div class="columns">
                <div class="column is-4"></div>

                <div class="column is-4">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title is-centered title">A toi de jouer !!</p>

                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p> Yu-Gi-Oh! (遊☆戯☆王, Yūgiō?, littéralement « Le Roi des jeux ») est un shōnen manga écrit et dessiné par Kazuki Takahashi. Il a été prépublié entre septembre 1996 et mars 2004 dans le magazine Weekly Shōnen Jump, et a été compilé en un total de trente-huit tomes par Shūeisha. La version française est éditée en intégralité par Kana.

                                    Le manga a été adapté en deux séries d'animation, la première par Toei Animation entre avril et octobre 1998 et la seconde par Gallop entre avril 2000 et septembre 2004. Deux films d'animation sont sortis respectivement en 1999 et 2004. Pour célébrer les 20 ans du manga, une version remastérisée est diffusée à partir de 2015 et un film est sorti en avril 20161.

                                    Yu-Gi-Oh! est finalement devenu une franchise incluant de multiples animes, mangas, jeux de cartes à collectionner et jeux vidéo. La franchise implique plus particulièrement son jeu de cartes à jouer, grâce auquel les joueurs peuvent organiser des « duels de monstres » (Magic & Wizard dans le manga en version originale japonaise et version française). </p>
                            </div>
                        </div>
                        <footer class="card-footer">

                        </footer>
                    </div>

                </div>
                <div class="column is-4">
                </div>
            </div>


        </div>
    </div>





{% endblock %}
