{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="columns is-centered">
        <div class="column ">
            <div class="card is-narrow">
                <div class="card-image">
                    <figure class="image is-128x128">
                        <img src="{{ asset('images/addition.svg') }}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <!-- Contenu de la première carte -->
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card is-narrow">
                <div class="card-image">
                    <figure class="image is-128x128">
                        <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <!-- Contenu de la deuxième carte -->
                </div>
            </div>
        </div>
    </div>


{% endblock %}
