<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Yu Gi Oh !{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/base5.ico') }}" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <section class="hero is-medium">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="level-item has-text-centered">
                            <img src="{{ asset('images/yugioh.png') }}" alt="Yugioh" style="height: 70px">
                        </a>
                        <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
                    </div>

        {% block body %}


        {% endblock %}
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li class="is-active">
                        <a>Overview</a>
                    </li>
                    <li>
                        <a>Modifiers</a>
                    </li>
                    <li>
                        <a>Grid</a>
                    </li>
                    <li>
                        <a>Elements</a>
                    </li>
                    <li>
                        <a>Components</a>
                    </li>
                    <li>
                        <a>Layout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    </section>
    </body>
</html>
