<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Yu Gi Oh !{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/base5.ico') }}" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <section class="hero is-fullheight has-background-white-bis">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="level-item has-text-centered" href = {{ path('index') }}>
                            <img src="{{ asset('images/yugioh.png') }}" alt="Yugioh" style="height: 70px">
                        </a>
                        <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
                    </div>

        {% block body %}


        {% endblock %}
                    <footer class="footer">
                        <div class="content has-text-centered">
                            <p>
                                <strong class="has-text-danger">Yu-Gi-Oh</strong>
                                réalisé par Ronald Fagbehouro, Syrder Baptichon et Amine Cheikh &copy; 2024.
                                All rights reserved.
                            </p>
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </footer>
    </section>


    </body>
</html>
