<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Yu Gi Oh !{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <section class="hero is-info is-medium">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="level-item has-text-centered">
                            <img src="{{ asset('images/yugioh.png') }}" alt="Yugioh" style="height: 70px">
                        </a>
                        <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
                    </div>

        {% block body %}


        {% endblock %}
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li class="is-active">
                        <a>Overview</a>
                    </li>
                    <li>
                        <a>Modifiers</a>
                    </li>
                    <li>
                        <a>Grid</a>
                    </li>
                    <li>
                        <a>Elements</a>
                    </li>
                    <li>
                        <a>Components</a>
                    </li>
                    <li>
                        <a>Layout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    </section>
    </body>
</html>
